/*@import url(http://fonts.googleapis.com/css?family=Bitter);s*/
/*@import url(http://fonts.googleapis.com/css?family=Armata);*/

@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Lobster+Two);


/****** Global style ******/

body {
    
    font-size: 1.75em;
    font-family: 'Roboto', serif;
    color: #a4a4a4;

    background:url('../media/ircad_grey.png') no-repeat fixed 99% 99%,
    url('../media/android_thin_green.png') no-repeat fixed 1% 1%;
    background-size: 10% auto, 6% auto;
    background-color: #ffffff;
}

h1 {
/*    font-family: 'Bitter' , serif;*/
    color: #727272;
    font-weight: bold;
    font-size: 2em;
/*    text-align: center;*/
/*    image:url('../media/ircad_grey.png') no-repeat top left;*/
    
}

h2 {
    font-family: 'Lobster Two', serif;
    font-style: italic;
    font-size: 1.25em;
/*    color: #27B57A;*/
}

blockquote {
/*    font-family: 'Bitter', serif;*/
    font-style: italic;
}

/* hypertext link */ 
a {
    color: #a8a9aa;
    text-decoration: none;
    font-weight: bold;
}

/* emphase */
em {
    color: #7e0035;
    text-decoration: none;
    font-weight: bold;
}

video {
    display: block;
    margin: 0 auto;
}

/****** logo ******/

/*.ircadlogo
{
height:80px;
width:231px;
background-image: url('../media/ircad_grey.png') no-repeat top left;
}*/


/****** Slide styles ******/

/*div#first_slide
{
    content:url('../media/ircad_grey.png');

}*/

#first_slide {
    width: 900px;
    height: 900px;
    border:3px solid #27B57A;
    border-radius: 500px;
    text-align: center;
    
}

#circle-no-background {
    width: 900px;
    height: 900px;
    border:1px solid #a4a4a4;
    border-radius: 500px;
    text-align: center;
}

#circle-background {
    width: 900px;
    height: 900px;
    background: #e8e8e8;
    border:1px solid #a4a4a4;
    border-radius: 500px;
    text-align: center;
}

#square-no-background {
    width: 900px;
    height: 600px;
    border:1px solid #a4a4a4;
    border-radius:0px;
    position: relative;
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 50px;
}

#square-background {
    width: 900px;
    height: 600px;
    background: #e8e8e8;
    border:1px solid #a4a4a4;
    border-radius:0px;
    position: relative;
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 50px;

}

#layer{
    

}

/****** Text styles ******/

.main-color {
    color: #27B57A;
}

.funny-font{
    
    color: #727272;
    font-family: 'Lobster Two', serif;
    font-style: italic;
}

.big-bold {
    font-weight: bold;
    font-size: 2em;
}

.big-bold-color {
    font-weight: bold;
    font-size: 2em;
    color: #27B57A;   
}

.bold-color {
    font-weight: bold;
    color: #27B57A;   
}

/* work with ' ..class:: align-center ' */
.align-center {
    text-align: center;
} 

.align-left {
    text-align: left;
} 

.mail {

    list-style-type: none;
    padding: 0px;
    margin: 0px;
    
    font-weight: bold;
    font-size: 1.5em;
    
    background: url('../media/mail.png') no-repeat 15% center; 
    padding-left: 250px;
    padding-top: 40px; 
    padding-bottom: 40px;   
    background-size: 10% auto; 
    
    display: block;
}

.git {
/*    display : list-item;
    list-style-image : url('../media/mail.png');*/

    list-style-type: none;
    padding: 0px;
    margin: 0px;
    
    font-weight: bold;
    font-size: 1.5em;
    
    background: url('../media/github.png') no-repeat 15% center; 
    padding-left: 250px;
    padding-top: 40px; 
    padding-bottom: 40px;   
    background-size: 10% auto;
    
    display: block;
}

.twit {
/*    display : list-item;
    list-style-image : url('../media/mail.png');*/

    list-style-type: none;
    padding: 0px;
    margin: 0px;
    
    font-weight: bold;
    font-size: 1.5em;
    
    background: url('../media/twitter.png') no-repeat 15% center; 
    padding-left: 250px;
    padding-top: 40px; 
    padding-bottom: 40px;   
    background-size: 10% auto;
    
    display: block;
}

.bullet_green {

    list-style-type: none;
    padding: 0px;
    margin: 0px;
    
    background: url('../media/bullet_green.png') no-repeat 30px center; 
    padding-left: 80px;
    padding-top: 5px; 
    padding-bottom: 5px;   
    background-size: 6% auto;
}

.bullet-grey {

    list-style-type: none;
    padding: 0px;
    margin: 0px;
    
    background: url('../media/bullet_grey.png') no-repeat 30px center; 
    padding-left: 80px;
    padding-top: 5px; 
    padding-bottom: 5px;   
    background-size: auto 50%;
    
/*    display: block;*/
}

/****** CSS shapes ******/

span.delta_right {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #a4a4a4;
    font-size: 0;
    
    position: relative;
    top: -7px;

}

span.delta_down {
     width: 0;
     height: 0;
     border-style: solid; /* dashed dashed; */
     border-width: 10px 10px 0;
     border-color: #a4a4a4 transparent transparent;
     font-size: 0;
     
     position: relative;
     top: -5px;
     /*display: inline-block;
     height: 0;
     line-height: 0;
     padding-top: 1px;
     position: relative;
     
     width: 0; */
}

span.delta_up {
    width: 0;
    height: 0;
    border-style: solid; /* dashed dashed; */
    border-width: 0 10px 10px;
    border-color: transparent transparent #a4a4a4;
    font-size: 0;
    
    position: relative;
    top: -10px;
    /*display: inline-block;
    height: 0;
    line-height: 0;
    padding-top: 1px;
    position: relative;
    top: -1px;
    width: 0; */ 
}

span.circle {
     border-radius: 50%;
     width: 20px;
     height: 20px;
     display: inline-block;
     background-color: #a4a4a4;
     position: relative;
     top: 2px;
}

